# conditional statements.

In [43]:
n=12

if n%2==0:
    print("n is even")
else:
    print("n is odd")

n is even

## Print output

In [51]:
print("Hello! World ")

Hello! World

# Assigning variables.

In [52]:
var1=123
var2=(var1*var1)**var1

var3=var1**var1

var3

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

## Number of digits or length of a string.

In [54]:
print(len(str(var2)))

515

## string slicing.

In [41]:
## string slicing
str1="python programming"

str1[0] #accessing first character.

str1[len(str1)-1] #printing last character.

str1[0:6] #printing first 6 characters.

str1[len(str1)-1::-1] #reverse of a string.

str1[0:len(str1):2] #alternate characters.

str1[5::-2] #reverse alternate characters of the word python.

#print((str1[7:] + '\n')*10) #printing in a new line.

'nhy'

In [12]:
li=[123,345,'python']
li

[123, 345, 'python']

## lists

In [40]:
li=[123,345,'python']
len(li) #length of the list.
li[2] #accessing list elements.
li[len(li)-1]='programming' #replacing  an element in a list
li.append('python') #adding a new element.

li.pop() #removes the last element if index not given.
li.pop(1) #removes the element at the 1st index.
li.remove(123) #removes the value from the list.
li.insert(0,123) #inserts 123 at 0th index
li.insert(1,345)
li
li2 = [[1,2,3],[4,5,6],[7,8,9]]
li2[1][1] #output is 5 since it is the element at 1 index of the main list and 1 index of the sub list.
li2[0][1] #output is 2
li2[0][0] #output is 1
li2.insert(3,[10,11,12]) #it inserts a list of [10,11,12] at the 3rd index of li2
li2.pop(3)
li2.remove([4,5,6])
li2 = [[1,2,3],[4,5,6],[7,8,9]]
#for i in range(0,len(li2)):        #printing of elements in  a 3*3 array
   # for j in range(0,len(li2[i])):
       # print(li2[i][j],end=' ')
#for i in range(len(li2)-1,-1,-1):
    #for j in range(len(li2[i]-1,-1,-1)):
       # print(li2[i][j], end=' ')
li.pop()
li.sort()
li.append(987)
li.append(534)
li.extend([765,432,999])
li.sort
li

[123, 345, 987, 534, 765, 432, 999]

## Tuples.

In [29]:
t1=(123,456,789)
t1[2]              # accessing element using index note:should use []
t1[2]+t1[1]        # operations can be performed.
t1[len(t1)-1]      #to access the last element.
t1[1:3]            #gives a tuple which is a subtuple of given tuple inclusive of 1st index and exclusive of 3rd index that means it gives 1st indexed element and 2nd indexed element.
str(t1[0])[1]+ " "+ str(t1[1])[1]+ " " +str(t1[2])[1]                        #gives the elements at specified index.
str(t1[0])[2::-1]+" "+str(t1[1])[2::-1]+" "+str(t1[2])[2::-1]                #prints the elements of list in reverse order.

'2 5 8'

## Reading Input from user.

In [30]:
str1=input("enter a string.") #input() function is used.

str1

enter a string.hello world

'hello world'

## Dictionaries.

In [39]:
d1={'procedural':'c','scripting':'python','functional':''}

d1['scripting']                                                      #dictionary should have a unique key but values may not be unique or can be repeated. 
d1.values()
d1.keys()
d2={'symbolic':'mathematics','logic':'prolog'}
d1.update(d2) #merging two dictionaries.
d1['object oriented']='java' #Adding or inserting a new element 
d1[]

d1

{'procedural': 'c',
 'scripting': 'python',
 'functional': '',
 'symbolic': 'mathematics',
 'logic': 'prolog',
 'object oriented': 'java'}

### Problem1:
##### Problem statement 
For a given number,check if it is divisible by 2 and 3 but not 4.

#### Constraints
Given number will be in the range [1,1000000000]

#### Test Cases
* checkdivisibility(6)->True
* checkdivisibility(16)->False
* checkdivisibility(20)->False

In [50]:
def checkdivisibility(n):
    if(n%2==0 and n%3==0 and n%4!=0):
        return True
    else:
        return False
    
    
checkdivisibility(458763211986)

True